.spinner {
    display:block;
    width:100px;
    height:100px;
    margin-right:auto;
    margin-left:auto;
    margin-top: 100px;
}

.loadingSpinner {
    padding-top: 110px;
    padding-left: 7px;
    font-size: 22px;
    font-weight: bold;
    color:black;
}