.containerLog {
    display: flex; 
    justify-content: flex-end;
    margin-left: 20px;
}

.welcomeLog {
    display: flex; 
    align-items: center;
    font-size:14px;
    font-weight: normal;
    margin: 10px;
}

.btnLog {
    font-size:14px;
    margin: 10px;
}