.widget {
    color:white;
    text-decoration: none;
}

.widget:hover {
    color:white;
    text-decoration: none;
}

.cartIcon {
    color:white;
}

.totalQ {
    font-size:12px;
    font-family: "Lato", sans-serif;
}