.carrito {
    width: 200px;
    padding: 0 !important;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    margin-top: 5px;
    color: white;
    font-size: 13px;
    background-color: blue;
    border: solid 1px blue;
    border-radius: 5px;
    cursor: pointer;
}