.containerCheckOut {
    width: 100%;
    margin-top: 10px;
    padding-left: 5%;
    padding-right: 10%;
}

.identTitle {
    margin-bottom: 20px;
}

.card-text {
    margin-bottom: 5px !important;
}

.cardText2 {
    margin-top: 0px;
    font-size: 15px;
}

.card {
    border: none;
}

.detailCheckOut {
    font-size: 22px;
    margin-left: 10px;
}

.separador {
    margin-bottom: 20px;
}

h4 {
    display: flex;
    justify-content:flex-start;
    font-size: 16px;
    font-weight:bold;
    margin-left: 10px;
}

h5 {
    display: flex;
    justify-content:center;
    font-size: 14px;
    font-weight:normal;
    margin-left: 5px;
}

.btns {

    margin-top: 20px;
}

.btnSend {
    width: 120px;
    height: 35px;
    margin: 10px 0 0 0;
    color: white;
    background-color: rgb(36, 36, 115);
    font-size: 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnSend:hover {
    background-color: white;
    border: solid 1px rgb(36, 36, 115);
    color: rgb(36, 36, 115);
    cursor: pointer;
}

.btnCancel {
    width: 120px;
    height: 35px;
    margin: 10px 0 0 10px;
    color: white;
    background-color: red;
    border:none;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
}

.btnCancel:hover {
    color:red;
    background-color: white;
    border: solid 1px red;
    cursor: pointer;
}

.inputSize {
    width:250px;
    font-size: 14px;
    margin-left: 0px;
    margin-bottom: 10px;
}

.alertError {
    font-size:13px;
    width:200px;
    color:red;
    background-color:none;
    margin-left: 5px;
    margin-bottom: 0;
}
