.header {
    background-color: rgb(32, 32, 110);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        max-width: 100%;
        margin: 0;
        padding: 20px 0 20px 20px;

        .link {
            text-decoration: none;
            margin-top: 10px;
        }

        .header__logo {
            font-size: 26px;
            font-weight: bold;
            color: white;
            margin: 0 0 0 30px;
        }

        .header__navbar {
            display: flex;
            width: 50%;
            justify-content: space-evenly;
            vertical-align: middle;
            align-items: center;
            margin: 0;

            .header__navlink {
                display: flex;
                color: white;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
                align-items: right;
                vertical-align: middle;
                cursor: pointer;
                margin: 0;
            }

            .cart {
                color: white;
                width: 100%;
                margin-bottom: 5px;
                margin-right: 20px;
            }

            .user {
                color: white;
            }
        }
    }
}