.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color:white;
    background-color: rgb(32, 32, 110);
    width: 100%;
    height:60px;
    position:absolute;
    bottom:0;
}
